---
layout: default
---
<article class="post">
  {% assign title = site.data.reg_eo[page.slug] %}
  <header class="post-header">
    <h1 class="post-title">{{ title | default: page.slug | escape }}</h1>
  </header>

  <div class="post-content">
    <ul>
    {% for f in page.fontoj %}
        {% assign lng = site.data.lingvoj[f.lng] %}
    <li><p><a href="{{f.url}}">{{f.eo}}</a>
        {% if lng %} ({{lng}}) {% endif %}</p></li>
    {% endfor %}   
    </ul> 
  </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>